.button {
	display: inline-flex;
	align-items: center;
	 span {
		font-family: 'Merriweather', serif;
		margin-right: 20px;
	}
	
	 svg {
		transition: transform 0.2s;
	}
	
	&:hover svg {
		transform: translate(10px, 0);
	}
	
}

