.container {
	padding: 0 20px;
}

.content {
	height: 100%;
	overflow-y: auto;
}

.lang {
	display: flex;
	padding: 40px 0 50px;

	&_item {
		font-size: 18px;
		line-height: 1;
		padding: 0 5px;
	}

	&_item:not(:last-child) {
		border-right: 1px solid #222;
	}
}

.list {
	border-top: 1px solid #1A1A1A;

	&_item {
		padding: 15px 20px;
		border-bottom: 1px solid #1A1A1A;
	}

	&_title {
		font-weight: 300;
		font-size: 22px;
		line-height: 30px;
	}
}

.sublist {
	&_item {
		font-weight: 300;
		font-size: 18px;
		line-height: 25px;
		padding-bottom: 15px;
	}
}

.account {
	padding: 40px 0;
	font-size: 18px;
	line-height: 156%;

	a {
		text-decoration-line: underline;

	}
}

.soc {
	padding: 10px 0 40px;
	display: flex;
	font-size: 18px;
	line-height: 156%;

	a {
		margin-right: 30px;
	}
}